* {
	user-select: none;
}
html {
	min-height: 100%;
	height: 100%;
}
body {
	min-height: 100%;
	height: 100%;
}

#yieldLoader {
	width: 3rem; height: 3rem;
}

#sidebar {
    width: 300px;
    min-width: 250px; /* Устанавливаем минимальную ширину в 100px */
    max-width: 700px; /* Устанавливаем максимальную ширину в 300px */
    height: 100vh;
    background-color: lightgray;
    overflow: auto;
    cursor: ew-resize; /* Устанавливаем курсор мыши в виде ew-resize */
}
#sidebar::-webkit-scrollbar {
    width: 5px; /* Устанавливаем ширину скроллбара */
    border-radius: 10px; /* Закругляем углы скроллбара */
}
#sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Устанавливаем цвет ползунка */
    border-radius: 10px; /* Закругляем углы ползунка */    
}
#sidebar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Устанавливаем цвет трека */
}

#content {
    height: 100vh;
    background-color: lightblue;
    overflow: auto;
}

.dark-l1 {
    background-color: var(--bs-gray-800);
}

#chats-list .text-col {
    width: calc(100% - 75px); /* Установить ширину второй колонки, учитывая ширину первой колонки с фото */    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
#chats-list .align-text {
    display: flex;
    justify-content: space-between;
}
#chats-list .small-text {
    font-size: 0.8rem;
}
#chats-list .placeholder-img {
    width: 50px;
    height: 50px;
    background-color: gray;
    animation: gradientAnimation 2s infinite alternate;
}
@keyframes gradientAnimation {
    0% { background-color: gray; }
    50% { background-color: silver; }
    100% { background-color: gray; }
}